In [5]:
#A tuple is an immutable and fixed-length sequence of Python Objects.
#Declaring a tuple
tup = 4,5,6
print(tup)
#output : (4,5,6)

#Advisable to use parenthesis 
tup = (4,5,6)
print(tup)
#output : (4,5,6)

#nested tuples
nested_tup = ((1,2,3),4,5,6)
print(nested_tup)
#output : ((1,2,3),4,5,6)

#access the data individually by enclosing index in square brackets
print(nested_tup[1])
#output : 4

#default index begins from 0
print(tup[0])
#output : 4
print(nested_tup[0])
#output : (1,2,3)

#convert any sequences using tuple()
tup = tuple([4,8,7])
print(tup)
#output : (4,8,7)

#String representation
tup = tuple('Ramayana')
print(tup)
#output : ('R','a','m','a','y','a','n','a')
print(tup[4])
#o/p : y

(4, 5, 6)
(4, 5, 6)
((1, 2, 3), 4, 5, 6)
4
4
(1, 2, 3)
(4, 8, 7)
('R', 'a', 'm', 'a', 'y', 'a', 'n', 'a')
y

In [11]:
Data_Science = tuple('Data Science')
Data_Science[0]

'D'

In [12]:
#Declare tuple as below
tup = tuple(['foo',[1,2,3],True])
print(tup)

('foo', [1, 2, 3], True)

In [13]:
#Let's try to change the obj in the tuple
tup[2] = False
#This means that tuple is immutable once you define its contents!

TypeError: 'tuple' object does not support item assignment

In [16]:
#a tuple object which can be changed
tup[1].append(7)
print(tup)

('foo', [1, 2, 3, 7], True)

In [20]:
#tuple concatenation
tup1 = (1,2,3)
tup2 = ('a','b','c')
tup1 + tup2

(1, 2, 3, 'a', 'b', 'c')

In [21]:
('a','c','d')+(2,5,6,4)

('a', 'c', 'd', 2, 5, 6, 4)

In [23]:
#tuple multiplication
tup * 2

('foo', [1, 2, 3, 7], True, 'foo', [1, 2, 3, 7], True)

In [24]:
tup * 0

()

In [25]:
tup*3.14      #note you can only multiply tuple by an integer

TypeError: can't multiply sequence by non-int of type 'float'

In [31]:
(tup1 + tup2) * -1   #multiplying tuple by a negative integer will also return () = tup * 0

()

In [32]:
#Value is assigned to the relevant rightmost variable
tup = (4,5,6)
a,b,c = tup
print(a,b,c)

4 5 6