# Tuples

#A tuple is an immutable and fixed-length sequence of Python Objects.

In [17]:
#Declaring a tuple
tup = 4,5,6
print(tup)
#output : (4,5,6)

#Advisable to use parenthesis 
tup = (4,5,6)
print(tup)
#output : (4,5,6)

#nested tuples
nested_tup = ((1,2,3),4,5,6)
print(nested_tup)
#output : ((1,2,3),4,5,6)

#access the data individually by enclosing index in square brackets
print(nested_tup[1])
#output : 4

#default index begins from 0
print(tup[0])
#output : 4
print(nested_tup[0])
#output : (1,2,3)

#convert any sequences using tuple()
tup = tuple([4,8,7])
print(tup)
#output : (4,8,7)

#String representation
tup = tuple('Ramayana')
print(tup)
#output : ('R','a','m','a','y','a','n','a')
print(tup[4])
#o/p : y

(4, 5, 6)
(4, 5, 6)
((1, 2, 3), 4, 5, 6)
4
4
(1, 2, 3)
(4, 8, 7)
('R', 'a', 'm', 'a', 'y', 'a', 'n', 'a')
y

In [11]:
Data_Science = tuple('Data Science')
Data_Science[0]

'D'

In [12]:
#Declare tuple as below
tup = tuple(['foo',[1,2,3],True])
print(tup)

('foo', [1, 2, 3], True)

In [13]:
#Let's try to change the obj in the tuple
tup[2] = False
#This means that tuple is immutable once you define its contents!

TypeError: 'tuple' object does not support item assignment

In [16]:
#a tuple object which can be changed
tup[1].append(7)
print(tup)

('foo', [1, 2, 3, 7], True)

In [20]:
#tuple concatenation
tup1 = (1,2,3)
tup2 = ('a','b','c')
tup1 + tup2

(1, 2, 3, 'a', 'b', 'c')

In [21]:
('a','c','d')+(2,5,6,4)

('a', 'c', 'd', 2, 5, 6, 4)

In [23]:
#tuple multiplication
tup * 2

('foo', [1, 2, 3, 7], True, 'foo', [1, 2, 3, 7], True)

In [24]:
tup * 0

()

In [25]:
tup*3.14      #note you can only multiply tuple by an integer

TypeError: can't multiply sequence by non-int of type 'float'

In [31]:
(tup1 + tup2) * -1   #multiplying tuple by a negative integer will also return () = tup * 0

()

In [32]:
#Value is assigned to the relevant rightmost variable
tup = (4,5,6)
a,b,c = tup
print(a,b,c)

4 5 6

In [4]:
#nested tuple unpacking
tup = (4,5,6,(1,2))
a,b,c,(d,e) = tup
print(a,e,d)
print(a,b,d)

4 2 1
4 5 1

In [9]:
#rest operator
temp = (4,5,6,7,1,2,3,7,8,9,0,11,2,3,43,54,66)
a,b,c,*rest = temp
print(a)
print(c)
print(rest)

4
6
[7, 1, 2, 3, 7, 8, 9, 0, 11, 2, 3, 43, 54, 66]

In [10]:
#count operator
tup = (2,2,3,5,2,4,2,4,1,0)
print(tup.count(2))
print(tup.count(7))
print(tup.count(5))

4
0
1

# Lists

#List is a variable-length mutable data structure

In [11]:
#define a list using square brackets
list1 = [2,3,4, 'clap', None, False]
print(list1)

[2, 3, 4, 'clap', None, False]

In [13]:
#accessing list elements
print(list1[0])  #Just like in tuple, the index in the list also starts with zero and ends with length of the list
print(list1[5])

2
False

In [18]:
#declare a tuple
tuple = ('Sneeze', 'Wipe', 'Breathe')
#convert tuple to a list
tup_to_list = list(tup)
print(tup)
print(type(tup))
print(tup_to_list)
print(type(tup_to_list))

(2, 2, 3, 5, 2, 4, 2, 4, 1, 0)
<class 'tuple'>
[2, 2, 3, 5, 2, 4, 2, 4, 1, 0]
<class 'list'>

In [27]:
#Adding and removing elements
#modifying elements in-place
a_list = ['peek','a','boo']
a_list[2] = 'baww'
print(a_list)

['peek', 'a', 'baww']

In [28]:
#append method
a_list.append('please')
print(a_list)

['peek', 'a', 'baww', 'please']

In [29]:
#insert method
a_list.insert(0,'hey')
print(a_list)

['hey', 'peek', 'a', 'baww', 'please']

In [30]:
#removing elements from specific place
a_list.pop(3)
print(a_list)

['hey', 'peek', 'a', 'please']

In [32]:
#using the remove method
long_list = ['hey','hello','namaste','pranam','hi','namaskar','hola','bonjour','salaam','Marhaba','Hallo','Hoi' ]
print(long_list)
long_list.remove('hola')
print(long_list)

['hey', 'hello', 'namaste', 'pranam', 'hi', 'namaskar', 'hola', 'bonjour', 'salaam', 'Marhaba', 'Hallo', 'Hoi']
['hey', 'hello', 'namaste', 'pranam', 'hi', 'namaskar', 'bonjour', 'salaam', 'Marhaba', 'Hallo', 'Hoi']

#Combining and contrasting a list

In [33]:
#concatenating using + operator
[1,2,3]+['a','b','c']

[1, 2, 3, 'a', 'b', 'c']

In [3]:
#extend method
a = ['what', 'how','why']
a.extend(['where','when','who'])
print(a)

['what', 'how', 'why', 'where', 'when', 'who']

#slicing: slicing is selecting sections of your defined listed as per your choice

In [5]:
#slicing a list using [] operator
seq = ['E','N','J','O','Y','L','I','F','E','<3']
print(seq)

['E', 'N', 'J', 'O', 'Y', 'L', 'I', 'F', 'E', '<3']

In [6]:
#slice the list using the inclusive start_index and exclusiv stop_index
#syntax: list_name[start_index:stop_index]
seq[2:5]

['J', 'O', 'Y']

In [9]:
#an empty start or end index implies beginning or end resps.
print(seq[:5])
print(seq[5:])

['E', 'N', 'J', 'O', 'Y']
['L', 'I', 'F', 'E', '<3']

In [10]:
#use negative indices that start at -1 from end of list
seq[-1:] #start slicing from '-1th' element until the end

['<3']

In [11]:
seq[:-3] #start slicing from beginning and stop at element before '-3rd' index

['E', 'N', 'J', 'O', 'Y', 'L', 'I']

In [12]:
seq[-8:-2] #start slicing from '-6th' element and go up to '-2ht' element

['J', 'O', 'Y', 'L', 'I', 'F']

In [13]:
#Use a double colon to imply "everyother"
seq[::2]

['E', 'J', 'Y', 'I', 'E']

In [14]:
seq[::-3]

['<3', 'I', 'O', 'E']

In [15]:
#reverse the list in a stud way
seq[::-1]

['<3', 'E', 'F', 'I', 'L', 'Y', 'O', 'J', 'N', 'E']

# Dict

#Dict or dictionary in python is unordered, mutable and indexed data structure.
#It is considered the most important and detailed data structure in Python.

In [19]:
#Create a dict using curly braces
my_dict = {}
print(type(my_dict))
print(my_dict)

<class 'dict'>
{}

In [20]:
#defining key:value pairs
my_dict = {
    'Movie name':'The Shawshank Redemption',
    'Genre' : 'Drama/Mystery',
    'Release Year' : 1994,
    'Cast' : ['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'],
    'Director' : 'Frank Darabont'
}
print(my_dict)

{'Movie name': 'The Shawshank Redemption', 'Genre': 'Drama/Mystery', 'Release Year': 1994, 'Cast': ['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'], 'Director': 'Frank Darabont'}

In [21]:
#accessing individual elements 
print(my_dict['Movie name'])

The Shawshank Redemption

#you can create empty dict using {}

In [24]:
#accessing a list of values
print(my_dict['Cast'])
print(my_dict['Cast'][0])
print(my_dict['Cast'][2])

['Tim Robbins', 'Morgan Freeman', 'Bob Gunton']
Tim Robbins
Bob Gunton

In [52]:
#define a dict
dict1 = {
    'Country':'India',
    'State' : 'Maharashtra',
    'District' : 'Mumbai',
    'City' : 'Mulund',
    'Pincode' : '40080'
}
#add new key to the dict
dict1['Street']='M.G. Road'
print(dict1)

{'Country': 'India', 'State': 'Maharashtra', 'District': 'Mumbai', 'City': 'Mulund', 'Pincode': '40080', 'Street': 'M.G. Road'}

In [53]:
#check if an item is present in dict or no
'City' in dict1

True

In [54]:
#delete using del keyword
del dict1['Street']

In [55]:
#pop method
ret = dict1.pop('Pincode')
print(ret)

40080

In [56]:
print(dict1)

{'Country': 'India', 'State': 'Maharashtra', 'District': 'Mumbai', 'City': 'Mulund'}