In [ ]:
#Tuples

In [5]:
#A tuple is an immutable and fixed-length sequence of Python Objects.
#Declaring a tuple
tup = 4,5,6
print(tup)
#output : (4,5,6)

#Advisable to use parenthesis 
tup = (4,5,6)
print(tup)
#output : (4,5,6)

#nested tuples
nested_tup = ((1,2,3),4,5,6)
print(nested_tup)
#output : ((1,2,3),4,5,6)

#access the data individually by enclosing index in square brackets
print(nested_tup[1])
#output : 4

#default index begins from 0
print(tup[0])
#output : 4
print(nested_tup[0])
#output : (1,2,3)

#convert any sequences using tuple()
tup = tuple([4,8,7])
print(tup)
#output : (4,8,7)

#String representation
tup = tuple('Ramayana')
print(tup)
#output : ('R','a','m','a','y','a','n','a')
print(tup[4])
#o/p : y

(4, 5, 6)
(4, 5, 6)
((1, 2, 3), 4, 5, 6)
4
4
(1, 2, 3)
(4, 8, 7)
('R', 'a', 'm', 'a', 'y', 'a', 'n', 'a')
y

In [11]:
Data_Science = tuple('Data Science')
Data_Science[0]

'D'

In [12]:
#Declare tuple as below
tup = tuple(['foo',[1,2,3],True])
print(tup)

('foo', [1, 2, 3], True)

In [13]:
#Let's try to change the obj in the tuple
tup[2] = False
#This means that tuple is immutable once you define its contents!

TypeError: 'tuple' object does not support item assignment

In [16]:
#a tuple object which can be changed
tup[1].append(7)
print(tup)

('foo', [1, 2, 3, 7], True)

In [20]:
#tuple concatenation
tup1 = (1,2,3)
tup2 = ('a','b','c')
tup1 + tup2

(1, 2, 3, 'a', 'b', 'c')

In [21]:
('a','c','d')+(2,5,6,4)

('a', 'c', 'd', 2, 5, 6, 4)

In [23]:
#tuple multiplication
tup * 2

('foo', [1, 2, 3, 7], True, 'foo', [1, 2, 3, 7], True)

In [24]:
tup * 0

()

In [25]:
tup*3.14      #note you can only multiply tuple by an integer

TypeError: can't multiply sequence by non-int of type 'float'

In [31]:
(tup1 + tup2) * -1   #multiplying tuple by a negative integer will also return () = tup * 0

()

In [32]:
#Value is assigned to the relevant rightmost variable
tup = (4,5,6)
a,b,c = tup
print(a,b,c)

4 5 6

In [4]:
#nested tuple unpacking
tup = (4,5,6,(1,2))
a,b,c,(d,e) = tup
print(a,e,d)
print(a,b,d)

4 2 1
4 5 1

In [9]:
#rest operator
temp = (4,5,6,7,1,2,3,7,8,9,0,11,2,3,43,54,66)
a,b,c,*rest = temp
print(a)
print(c)
print(rest)

4
6
[7, 1, 2, 3, 7, 8, 9, 0, 11, 2, 3, 43, 54, 66]

In [10]:
#count operator
tup = (2,2,3,5,2,4,2,4,1,0)
print(tup.count(2))
print(tup.count(7))
print(tup.count(5))

4
0
1

In [ ]:
#Lists

In [ ]:
#List is a variable-length mutable data structure

In [11]:
#define a list using square brackets
list1 = [2,3,4, 'clap', None, False]
print(list1)

[2, 3, 4, 'clap', None, False]

In [13]:
#accessing list elements
print(list1[0])  #Just like in tuple, the index in the list also starts with zero and ends with length of the list
print(list1[5])

2
False

In [18]:
#declare a tuple
tuple = ('Sneeze', 'Wipe', 'Breathe')
#convert tuple to a list
tup_to_list = list(tup)
print(tup)
print(type(tup))
print(tup_to_list)
print(type(tup_to_list))

(2, 2, 3, 5, 2, 4, 2, 4, 1, 0)
<class 'tuple'>
[2, 2, 3, 5, 2, 4, 2, 4, 1, 0]
<class 'list'>

In [27]:
#Adding and removing elements
#modifying elements in-place
a_list = ['peek','a','boo']
a_list[2] = 'baww'
print(a_list)

['peek', 'a', 'baww']

In [28]:
#append method
a_list.append('please')
print(a_list)

['peek', 'a', 'baww', 'please']

In [29]:
#insert method
a_list.insert(0,'hey')
print(a_list)

['hey', 'peek', 'a', 'baww', 'please']

In [30]:
#removing elements from specific place
a_list.pop(3)
print(a_list)

['hey', 'peek', 'a', 'please']

In [32]:
#using the remove method
long_list = ['hey','hello','namaste','pranam','hi','namaskar','hola','bonjour','salaam','Marhaba','Hallo','Hoi' ]
print(long_list)
long_list.remove('hola')
print(long_list)

['hey', 'hello', 'namaste', 'pranam', 'hi', 'namaskar', 'hola', 'bonjour', 'salaam', 'Marhaba', 'Hallo', 'Hoi']
['hey', 'hello', 'namaste', 'pranam', 'hi', 'namaskar', 'bonjour', 'salaam', 'Marhaba', 'Hallo', 'Hoi']