In [5]:
#A tuple is an immutable and fixed-length sequence of Python Objects.
#Declaring a tuple
tup = 4,5,6
print(tup)
#output : (4,5,6)

#Advisable to use parenthesis 
tup = (4,5,6)
print(tup)
#output : (4,5,6)

#nested tuples
nested_tup = ((1,2,3),4,5,6)
print(nested_tup)
#output : ((1,2,3),4,5,6)

#access the data individually by enclosing index in square brackets
print(nested_tup[1])
#output : 4

#default index begins from 0
print(tup[0])
#output : 4
print(nested_tup[0])
#output : (1,2,3)

#convert any sequences using tuple()
tup = tuple([4,8,7])
print(tup)
#output : (4,8,7)

#String representation
tup = tuple('Ramayana')
print(tup)
#output : ('R','a','m','a','y','a','n','a')
print(tup[4])
#o/p : y

(4, 5, 6)
(4, 5, 6)
((1, 2, 3), 4, 5, 6)
4
4
(1, 2, 3)
(4, 8, 7)
('R', 'a', 'm', 'a', 'y', 'a', 'n', 'a')
y