In [1]:
import pandas as pd
import scipy as sp
import numpy as np

In [6]:
x = pd.Series([1,3,5,6,np.nan]) #Create an integer index
x

0    1.0
1    3.0
2    5.0
3    6.0
4    NaN
dtype: float64

In [5]:
dates = pd.date_range('20141013',periods=12) #print out date with range
dates

DatetimeIndex(['2014-10-13', '2014-10-14', '2014-10-15', '2014-10-16',
               '2014-10-17', '2014-10-18', '2014-10-19', '2014-10-20',
               '2014-10-21', '2014-10-22', '2014-10-23', '2014-10-24'],
              dtype='datetime64[ns]', freq='D')

In [8]:
dataframe = pd.DataFrame(np.random.randn(12,4), index=dates, columns=list('ㄱㄴㄷㄹ'))
dataframe

                   ㄱ         ㄴ         ㄷ         ㄹ
2014-10-13  0.374076 -0.423429 -1.585813 -0.938017
2014-10-14  1.326414 -0.515296  0.483078  0.521667
2014-10-15 -0.615242  0.231775 -0.051104  0.847363
2014-10-16  0.619508  0.103334 -1.054579 -0.455348
2014-10-17 -0.444652 -0.890413  0.998023  0.841627
2014-10-18 -1.094604  0.841128 -0.365354  0.134990
2014-10-19 -0.016199 -0.790882  1.471686 -0.245235
2014-10-20  0.351693  0.409093  0.182443  0.891431
2014-10-21 -1.488846 -0.247125 -0.683742 -1.058776
2014-10-22  0.543781  1.707462 -1.105808 -1.900401
2014-10-23 -0.847678  0.046313 -0.737622 -0.130742
2014-10-24  1.265196  0.911370  0.337055  1.043153